<div class="box" id="heading">
  <h1><%= title %></h1>
</div>

<div class="box">
  <div class="item">
    <input type="checkbox" />
    <p>Sport</p>
  </div>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list">+</button>
  </form>
</div>
