<div class="box" id="heading">
  <h1><%= title %></h1>
</div>

<div class="box">
  <% activities.forEach(activity => { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="check"
        value="<%= activity._id %>"
        onchange="this.form.submit()"
      />
      <p><%= activity.work %></p>
    </div>
  </form>
  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="work" placeholder="New Item" autocomplete="off" />
    <button type="submit">+</button>
  </form>
</div>
