<div class="box" id="heading">
  <h1><%= title %></h1>
</div>

<div class="box">
  <% activities.forEach(activity => { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= activity.work %></p>
  </div>
  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="work" placeholder="New Item" autocomplete="off" />
    <button type="submit">+</button>
  </form>
</div>
